Autodatan yhdistäminen ja ryhmittely monitasoiseksi DataFrameksi

Tee funktio autot(url_a1, url_a2, url_b1, url_b2), joka tekee järjestyksessä seuraavaa:

lataa datat DataFrameihin osoitteista (url_a1, url_a2, url_b1, url_b2), joissa erotinmerkkinä on puolipiste (';'),
yhdistää uuteen DataFrameen 'dfa' autoihin liittyvät datat url_a1:sta ja url_a2:sta (tutki tarvittaessa mitä dataa urleista on saatavilla),
yhdistää uuteen DataFrameen 'dfb' autoihin liittyvät datat url_b1:sta ja url_b2:sta (tutki tarvittaessa mitä dataa urleista on saatavilla),
yhdistää DataFramet 'dfa' ja 'dfb' yhdeksi DataFrameksi 'df' sarakkeen 'ID' perusteella,
jos sarakkeessa 'Ft' on merkkijono 'DIESEL', korvataan se merkkijonolla 'Diesel',
jos sarakkeessa 'Ft' on merkkijono 'PETROL', korvataan se merkkijonolla 'Petrol',
tekee uuden DataFramen, jossa on laskettu moottorien keskiarvotilavuudet (sarake 'ec (cm3)') ryhmiteltynä sarakkeiden 'Mh' ja 'Ft' mukaan,
esittää moottorien keskiarvotilavuudet kokonaislukujen tarkkuudella,
muodostaa monitasoisen DataFramen, jossa sarakeindekseinä ovat monikot ('ec (cm3)', 'Diesel') ja ('ec (cm3)', 'Petrol'),
jos DataFramessa esiintyy NaN arvoja, niin DataFramen soluun kirjoitetaan merkkijono "no value",
tulostaa vastaukseen 10 ensimmäistä riviä.

Tässä tehtävässä:

url_a1=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv
url_a2=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv
url_b1=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv
url_b2=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv

Testi:

autot("https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv", "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv")


Tulos:

                   ec (cm3)
Ft                     Diesel    Petrol
Mh
AA-IVA                 1995.0    3596.0
AUTOMOBILES CITROEN    1560.0    1131.0
FORD WERKE GMBH        1615.1    1291.5
KIA                  no value    1580.0
NISSAN                 1559.4    1247.5
SKODA                  1799.5    1190.6
TESLA                no value  no value

In [91]:
TÄMÄ ei ole vastau svaan seuraava
def autot(url_a1, url_a2, url_b1, url_b2):
    import pandas as pd
    import numpy as np    
    
    df1 = pd.read_csv(url_a1,delimiter=";",decimal=",")    
    df2 = pd.read_csv(url_a2,delimiter=";",decimal=",")        
    dfa=df1.append(df2)
    
    df3 = pd.read_csv(url_b1,delimiter=";",decimal=",")
    df4 = pd.read_csv(url_b2,delimiter=";",decimal=",")
    dfb=df3.append(df4)
    
    tulos = pd.merge(dfa, dfb, on = 'ID', how = 'inner')    
    tulos.loc[tulos['Ft'] == 'DIESEL', 'Ft'] = 'Diesel'
    tulos.loc[tulos['Ft'] == 'PETROL', 'Ft'] = 'Petrol'
    
    
    dfx=tulos.loc[tulos['Mh'] == 'TESLA']
    
    print(dfx['ec (cm3)'])
    
    
    #print(tulos['NG'])
    #tulos = tulos.set_index(['ec (cm3)', 'Diesel']) 
    #tulos=tulos.reset_index()
    
    #tulos=pd.crosstab(tulos['Mh'],tulos['Ft'],colnames=['Diesel','Petrol'],values=[tulos['ec (cm3)',tulos['ec (cm3)']], aggfunc = 'mean')
    
    # crosstab
    #tulos=pd.crosstab(tulos['Mh'],[tulos['ec (cm3)'],tulos['Ft']],values=tulos['ec (cm3)'], aggfunc = 'mean')
    
    #tulos=pd.crosstab(index=[tulos['Mh'],tulos['Ft']],columns=[tulos['ec (cm3)'],tulos['Ft']],values=tulos['ec (cm3)'], aggfunc = 'mean')
    #tulos=pd.crosstab(index=[tulos['Mh'],tulos['Ft']],columns=[tulos['Ft']],values=tulos['ec (cm3)'], aggfunc = 'mean')
    #tulos=pd.crosstab(tulos['Mh'],tulos['Ft'],values=tulos['ec (cm3)'], aggfunc = 'mean')
    
    
    
#    tulos = tulos.pivot(index=['Mh', 'Ft'], columns='Ft')
    #tulos=pd.pivot_table(tulos, index=['Mh', 'Ft'], columns= ['Ft','Mh'],values='ec (cm3)', aggfunc=np.mean)
    #PIVOT
    #tulos=pd.pivot_table(tulos, index=['Mh'],columns=['Ft'],values='ec (cm3)', aggfunc={'ec (cm3)':np.mean},fill_value=0) #aggfunc=np.mean)
    
    tulos=pd.crosstab(tulos['Mh'],tulos['Ft'],values=tulos['Enedc (g/km)'], aggfunc = 'mean')
    
    
    #print(tulos.columns)
    #tulos=pd.crosstab(index=tulos['Mh'], columns=[tulos['Ft']], values=tulos['ec (cm3)'],aggfunc='mean') #aggfunc={'ec (cm3)': np.mean}) #aggfunc='mean')
    
    
    #tulos.rename(columns = {'Diesel':'new_col1', 'Petrol':'new_col2'}, inplace = True)
    
    #tulos=tulos.groupby(['Mh','Ft']).agg({ 'ec (cm3)': [sum]})
    #tulos=tulos.reset_index()
    
    
    #tulos=pd.pivot_table(tulos, index=['Mh', 'Ft'], values='ec (cm3)', aggfunc={'ec (cm3)': np.mean})
    
    
    #table = pd.pivot_table(tulos, values='ec (cm3)', index=['Mt'],
    #                columns=['Ft'], aggfunc=np.mean)
    
    tulos=tulos[['Diesel','Petrol']]
    
    
    #tulos.dropna(inplace=True)
    #tulos.loc[tulos['Diesel'].isnull()==False, 'Diesel'] = tulos['Diesel'].round(0)
    #tulos.loc[tulos['Diesel'].isnull()==False, 'Diesel'] = tulos['Diesel'].astype(int)
    
    #tulos.loc[tulos.isnull()==False, 'tulos'] = tulos.round(0).astype(int)
                    
    #tulos=tulos.round(0).astype(int)
    #tulos.replace(0,'no value',inplace=True)   
    #tulos=tulos.fillna('no value')
    
    tulos=tulos.fillna(0)
    tulos=tulos.round(0).astype(int)
    tulos.replace(0,'no value',inplace=True)
    tulos.columns = pd.MultiIndex.from_product([['ec (cm3)'], tulos.columns])
    print(tulos)
    
    #tulos=tulos.round(1) #[['Diesel','Petrol']].round(1)
    #tulos.rename(columns = {'Diesel':'new_col1', 'Petrol':'new_col2'}, inplace = True)
    #groups=tulos.groupby('Mh',as_index=False)
    
    #dfx =pd.DataFrame(groups['Enedc (g/km)'].mean())
    
    #tulos=pd.crosstab([tulos['Mh'],tulos['ec (cm3)']],tulos['Ft'],values=tulos['ec (cm3)'], aggfunc = 'mean')
    #tulos=tulos.round(1) #[['Diesel','Petrol']].round(1)
    #print(tulos.columns)
    # ('ec (cm3)', 'Diesel') ja ('ec (cm3)', 'Petrol')
    #tulos = tulos.set_index(['ec (cm3)', 'Diesel']) 
    
    
    #tulos = tulos.set_index(['Petrol']) #.sort_index()
    #df2 = df.set_index(['Sija', 'Vuosi']).sort_index()
    #tulos=tulos.reset_index()
    #tulos=tulos.set_index([''])
    #print(tulos)
    
    
url_a1="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv"
url_a2="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv"
url_b1="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv"
url_b2="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv"
autot(url_a1, url_a2, url_b1, url_b2)

456   NaN
Name: ec (cm3), dtype: float64
                     ec (cm3)
Ft                     Diesel    Petrol
Mh
AA-IVA                    129       195
AUTOMOBILES CITROEN       103       106
FORD WERKE GMBH           113       134
KIA                  no value        88
NISSAN                    112       128
SKODA                     119       115
TESLA                no value  no value

In [104]:
def autot(url_a1, url_a2, url_b1, url_b2):
    import pandas as pd
    import numpy as np    
    
    df1 = pd.read_csv(url_a1,delimiter=";",decimal=",")    
    df2 = pd.read_csv(url_a2,delimiter=";",decimal=",")        
    dfa=df1.append(df2)
    
    df3 = pd.read_csv(url_b1,delimiter=";",decimal=",")
    df4 = pd.read_csv(url_b2,delimiter=";",decimal=",")
    dfb=df3.append(df4)
    
    tulos = pd.merge(dfa, dfb, on = 'ID', how = 'inner')    
    tulos.loc[tulos['Ft'] == 'DIESEL', 'Ft'] = 'Diesel'
    tulos.loc[tulos['Ft'] == 'PETROL', 'Ft'] = 'Petrol'

    #tulos=pd.crosstab(tulos['Mh'],tulos['Ft'],values=tulos['ec (cm3)'], aggfunc = 'mean',dropna=False)
    tulos=pd.pivot_table(tulos, index=['Mh'],columns=['Ft'],values='ec (cm3)', aggfunc={'ec (cm3)':np.mean},dropna=False)
    tulos=tulos[['Diesel','Petrol']]
    
    tulos=tulos.fillna(0)
    tulos=tulos.round(1) #.astype(int)
    tulos.replace(0,'no value',inplace=True)
    tulos.columns = pd.MultiIndex.from_product([['ec (cm3)'], tulos.columns])
    tulos=tulos[:10]
    print(tulos)
    
    
url_a1="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv"
url_a2="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv"
url_b1="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv"
url_b2="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv"
autot(url_a1, url_a2, url_b1, url_b2)

                     ec (cm3)
Ft                     Diesel    Petrol
Mh
AA-IVA                 1995.0    3596.0
AUTOMOBILES CITROEN    1560.0    1131.0
FORD WERKE GMBH        1615.1    1291.5
KIA                  no value    1580.0
NISSAN                 1559.4    1247.5
SKODA                  1799.5    1190.6
TESLA                no value  no value

In [71]:
def autot(url_a1, url_a2, url_b1, url_b2):
    import pandas as pd
    import numpy as np    
    
    df1 = pd.read_csv(url_a1,delimiter=";",decimal=",")    
    df2 = pd.read_csv(url_a2,delimiter=";",decimal=",")        
    dfa=df1.append(df2)
    
    df3 = pd.read_csv(url_b1,delimiter=";",decimal=",")
    df4 = pd.read_csv(url_b2,delimiter=";",decimal=",")
    dfb=df3.append(df4)
    
    tulos = pd.merge(dfa, dfb, on = 'ID', how = 'outer')    
    tulos.loc[tulos['Ft'] == 'DIESEL', 'Ft'] = 'Diesel'
    tulos.loc[tulos['Ft'] == 'PETROL', 'Ft'] = 'Petrol'
    #print(tulos['Mh'].drop_duplicates())
    
     
    
    tulos=pd.pivot_table(tulos, index=['Mh'],columns=['Ft'],values='ec (cm3)', aggfunc={'ec (cm3)':np.mean}) #,fill_value=0) #aggfunc=np.mean)
        
    tulos=tulos[['Diesel','Petrol']]
    
    #tulos=tulos.round(0).astype(int)
    #tulos.replace(0,'no value',inplace=True)   
    
    tulos.columns = pd.MultiIndex.from_product([['ec (cm3)'], tulos.columns])
    print(tulos)
    
    
url_a1="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv"
url_a2="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv"
url_b1="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv"
url_b2="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv"
autot(url_a1, url_a2, url_b1, url_b2)

                        ec (cm3)
Ft                        Diesel       Petrol
Mh
AA-IVA               1995.000000  3596.000000
AUTOMOBILES CITROEN  1560.000000  1131.028571
FORD WERKE GMBH      1615.133333  1291.513761
KIA                          NaN  1580.000000
NISSAN               1559.363636  1247.542857
SKODA                1799.545741  1190.619811

In [72]:
def autot(url_a1, url_a2, url_b1, url_b2):
    import pandas as pd
    import numpy as np    
    
    df1 = pd.read_csv(url_a1,delimiter=";",decimal=",")    
    df2 = pd.read_csv(url_a2,delimiter=";",decimal=",")        
    dfa=df1.append(df2)
    
    df3 = pd.read_csv(url_b1,delimiter=";",decimal=",")
    df4 = pd.read_csv(url_b2,delimiter=";",decimal=",")
    dfb=df3.append(df4)
    
    tulos = pd.merge(dfa, dfb, on = 'ID', how = 'inner')    
    tulos.loc[tulos['Ft'] == 'DIESEL', 'Ft'] = 'Diesel'
    tulos.loc[tulos['Ft'] == 'PETROL', 'Ft'] = 'Petrol'
    #print(tulos['NG'])
    #tulos = tulos.set_index(['ec (cm3)', 'Diesel']) 
    #tulos=tulos.reset_index()
    
    #tulos=pd.crosstab(tulos['Mh'],tulos['Ft'],colnames=['Diesel','Petrol'],values=[tulos['ec (cm3)',tulos['ec (cm3)']], aggfunc = 'mean')
    tulos=pd.crosstab(tulos['Mh'],tulos['Ft'],values=tulos['Enedc (g/km)'], aggfunc = 'mean')
    #tulos=tulos.round(1) #[['Diesel','Petrol']].round(1)
    tulos.rename(columns = {'Diesel':'new_col1', 'Petrol':'new_col2'}, inplace = True)
    #groups=tulos.groupby('Mh',as_index=False)
    
    #dfx =pd.DataFrame(groups['Enedc (g/km)'].mean())
    
    #tulos=pd.crosstab([tulos['Mh'],tulos['ec (cm3)']],tulos['Ft'],values=tulos['ec (cm3)'], aggfunc = 'mean')
    #tulos=tulos.round(1) #[['Diesel','Petrol']].round(1)
    #print(tulos.columns)
    # ('ec (cm3)', 'Diesel') ja ('ec (cm3)', 'Petrol')
    #tulos = tulos.set_index(['ec (cm3)', 'Diesel']) 
    
    
    #tulos = tulos.set_index(['ec (cm3)', 'Petrol']).sort_index()
    #df2 = df.set_index(['Sija', 'Vuosi']).sort_index()
    print(tulos)
    
    
url_a1="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv"
url_a2="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv"
url_b1="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv"
url_b2="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv"
autot(url_a1, url_a2, url_b1, url_b2)

Ft                     new_col1  Electric       NG    new_col2
Mh
AA-IVA               129.000000       NaN      NaN  194.666667
AUTOMOBILES CITROEN  102.709302       NaN      NaN  105.619048
FORD WERKE GMBH      112.933333       NaN      NaN  133.733945
KIA                         NaN       NaN      NaN   88.000000
NISSAN               112.272727       0.0      NaN  127.657143
SKODA                119.365931       NaN  99.5625  115.057547
TESLA                       NaN       0.0      NaN         NaN

In [7]:
def autot(url1, url2):
    import pandas as pd
    import numpy as np    
    df1 = pd.read_csv(url1,delimiter=";",decimal=",")   
    df2 = pd.read_csv(url2,delimiter=";",decimal=",")    
    df3 = df1.append(df2)
    
    tulos=df3['Cn'].value_counts(sort=True,ascending=False)[:5]        
    print(tulos)

url1='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv'
url2='https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv'
autot(url1,url2)

OCTAVIA    396
FABIA      377
RAPID      197
SUPERB     159
KAROQ      148
Name: Cn, dtype: int64

In [54]:
import pandas as pd
df = pd.DataFrame({'POC_Code': ['ARA', 'ARA', 'ARA', 'BPE', 'BPE', 'BPE'], 
                   'Trading_date': ['1/04/2018','2/04/2018','3/04/2018','1/04/2018','2/04/2018','3/04/2018'],
                   'TP1':[10120,11760,25930,3545,12749,11358],
                   'TP2':[10170,11790,25890,4329,13793,15448],
                   'TP3':[10200,11750,25860,3465,13943,16132]})
print(df)
piv = df.pivot_table(values=['TP1','TP2','TP3'], index=['Trading_date'], columns='POC_Code')
print(piv)

  POC_Code Trading_date    TP1    TP2    TP3
0      ARA    1/04/2018  10120  10170  10200
1      ARA    2/04/2018  11760  11790  11750
2      ARA    3/04/2018  25930  25890  25860
3      BPE    1/04/2018   3545   4329   3465
4      BPE    2/04/2018  12749  13793  13943
5      BPE    3/04/2018  11358  15448  16132
                TP1           TP2           TP3
POC_Code        ARA    BPE    ARA    BPE    ARA    BPE
Trading_date
1/04/2018     10120   3545  10170   4329  10200   3465
2/04/2018     11760  12749  11790  13793  11750  13943
3/04/2018     25930  11358  25890  15448  25860  16132